body{
	background-color: #252525;
}
.header{
	margin-top: 100px;
	color: white;
}
.game-form{
	margin-top: 50px;
}
table{
	display: inline-block;
}
label{
	color: #CACACA;
}
td{
	padding: 10px;
	text-align: left;
}
input{
	height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.submitForm, .endTurn{
	background-color: #1A6D96;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 1.2em;
}

.container{
	color: white;
}
.info-town p{
	color: white;
	/*display: inline-block;*/
}
.info-town span{
	color: #1A6D96;
}
.info-town .row{
	margin-bottom: 20px;
}
.info-town p{
	margin-bottom: 0px;
	color: #C3C3C3;
}
.event{
	color: #C3C3C3;
}
.header-game{
	margin-bottom: 20px;
}










